<div class="jumbotron">
  <h1 style="text-align: center">SafeChat</h1>
  <div class="well" id="chatbox" style="height: 250px; width: 50%; margin: 0 auto; border: solid 1px black; overflow-y: scroll;">
    <%= @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>  
  </div>
  <% if current_user %>
    <%= form_with model: @message do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :body, placeholder: "Type message here...", class: "form-control" %>
      <div class="input-group-append">
        <%= f.submit "Send", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  <% else %>
    <p style="text-align: center; font-size: 20px;">You need to be <%= link_to "signed in", new_user_session_path %> to send a message!</p>
  <% end %>
</div>
